---
title: COPAS - Action sociale et médico-sociale
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ACTION SOCIALE ET MÉDICO-SOCIALE
      </h1>
      <p>
        COPAS intervient depuis son origine, en 1983 auprès des réseaux régionaux, nationaux et des établissements, que ce soit à l’échelle de la <strong>gouvernance</strong>, de la <strong>gestion</strong>, du <strong>management</strong>, ou encore celle des <strong>équipes professionnelles</strong>. Notre équipe a ainsi pu accompagner les acteurs du secteur au fur et à mesure de son évolution (loi de 1975, loi 2002, loi de 2007 sur l’enfance et la famille…). Dès 2002, nous avons animé des formations PROMOFAF, destinées à des binômes Directeurs-chef de service, pour favoriser une appropriation pragmatique des principaux éléments de la loi de 2002. Nous sommes ensuite intervenus dans l’accompagnement à la rédaction des <strong>projets associatifs et d’établissements</strong>, puis dans les démarches d’<strong>évaluation interne et externes</strong>. Nous avons notamment accompagné des réseaux dans la co-construction des référentiels (référentiels-métiers, référentiels de bonnes pratiques, référentiel d’auto-évaluation…) : FNARS Ile de France, UNAFO, URFJT… Nous avons également animé/contribué à des travaux menés dans le cadre de l’ANESM : Participation des usagers et projet d’établissement.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Notre travail collaboratif en interne nous a permis de construire des <strong>approches et outils partagés</strong>, basées sur les crédos suivants :
      </p>
      <ul>
        <li><strong>l’association de l’usager et de son entourage</strong> à la définition et à l’évaluation de la prise en charge qui lui est proposée : pour une participation éclairée et un exercice effectif de la citoyenneté</li>
        <li>le repérage et la <strong>valorisation des pratiques professionnelles</strong> en œuvre dans les établissements au bénéfice du service rendu aux usagers, et ce, qu’elles soient formelles ou informelles, et dispensées par l’équipe élargie au-delà même des travailleurs sociaux</li>
        <li>un accompagnement et un conseil technique, institutionnel et stratégique, à l’écoute des <strong>directions d’établissement</strong>.</li>
      </ul>
      <p>
        Le contexte actuel semble plus propice et porteur. D’une part parce les expériences ont montré que <strong>la participation était génératrice de sens, de dynamisme et d’efficacité</strong>. D’autre part parce qu’émergent et se généralisent de nouvelles formes de participation, non institutionnelles, en particulier facilitées par le <strong>développement du numérique et d’applications spécifiques</strong>, qu’on regroupe sous la notion de « civic tech ». Dans ce contexte général, certaines collectivités, associations ou entreprises font de la participation <strong>un outil clé de leur stratégie de développement ou de changement</strong>.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.actionsociale} %>
  </div>
</div>
