---
title: COPAS - Démarches participatives
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        DÉMARCHES PARTICIPATIVES ET CONCERTATION
      </h1>
      <p>
        Les consultants de Copas vous accompagnent pour <strong>définir vos besoins, vous conseiller dans le choix de la démarche participative</strong> que vous souhaitez engager, <strong>développer les outils nécessaires </strong>(en présentiel et on line), animer et accompagner les travaux des différentes parties prenantes, garantir la transparence des dispositifs et le reporting.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Participer, c’est pouvoir « prendre part » activement à un projet, une décision, une stratégie, une idée… Si la participation n’est pas un concept nouveau que ce soit en tant que citoyen, salarié, usager, etc. sa mise en œuvre concrète souffre souvent d’un manque de point d’appui et de soutien de la part des décideurs, d’outillage ou de méthodologie. De fait, les différentes démarches ou dispositifs participatifs sont parfois restés confidentiels ou au stade de l’intention.
      </p>
      <p>
        Le contexte actuel semble plus propice et porteur. D’une part parce les expériences ont montré que <strong>la participation était génératrice de sens, de dynamisme et d’efficacité</strong>. D’autre part parce qu’émergent et se généralisent de nouvelles formes de participation, non institutionnelles, en particulier facilitées par le <strong>développement du numérique et d’applications spécifiques</strong>, qu’on regroupe sous la notion de « civic tech ». Dans ce contexte général, certaines collectivités, associations ou entreprises font de la participation <strong>un outil clé de leur stratégie de développement ou de changement</strong>.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.aubryprieur} %>
  </div>
</div>
