---
title: COPAS - Développement social et politique de la ville
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        DÉVELOPPEMENT SOCIAL ET POLITIQUE DE LA VILLE
      </h1>
      <p>
        La politique de la ville et le développement social territorial visent l’un comme l’autre à favoriser l’amélioration de la situation sociale des territoires ciblés et de leurs habitants. Ce, dans le cadre d’approches pluridisciplinaires, participatives et systémiques. Théoriquement ce développement social des territoires doit privilégier les <strong>approches coopératives</strong> (acteurs institutionnels, acteurs associatifs et société civile, habitants) et <strong>s’appuyer pour partie sur les ressources des citoyens</strong>, y compris les plus fragiles socialement pour les rendre <strong>acteurs des changements positifs</strong> concernant leur territoire de vie et leurs situations personnelles. En réalité, ces principes d’intervention sont diversement mis en œuvre dans les stratégies de DST ou dans le cadre de la Politique de la Ville.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Les consultants de COPAS interviennent dans le cadre de démarches volontaristes de développement des démarche de DST (Département du Nord par exemple) ou dans le cadre de démarches plus contraintes de mise en place des contrats de villes. Les consultants interviennent à différentes phases des <a href="<%= data.flyers[11].link %>" target="_blank" class="plaquette"><i class="fa fa-download"></i>&nbsp;&nbsp;<strong><%= data.flyers[11].name %></strong> </a> : <strong>diagnostic, construction collective d’un projet </strong>de territoire pluridisciplinaire ou sur une ou deux <strong>thématiques données</strong> (éducation, emploi, gestion urbaine de proximité….); <strong>mobilisation des habitants</strong> et <strong>implication</strong> dans le projet, <strong>évaluation</strong> des projets proposés… Nous sommes attentifs à prendre en compte la situation de départ du système d’acteur de chaque territoire, pour accompagner au mieux nos clients vers l’adoption, à moyen terme, de démarches de DST à la fois concrètes et ambitieuses pour les territoires et leurs habitants.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.ville} %>
  </div>
</div>
