---
title: COPAS - ESS Économie Sociale et Solidaire
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ÉCONOMIE SOCIALE ET SOLIDAIRE
      </h1>
      <p>
        L’ESS se caractérise par un ensemble de structures guidées par le désir de concilier <strong>coopération, utilité sociale, équilibre économique et ancrage territorial</strong>. Nait de la synthèse de deux concepts (<strong>économie sociale</strong> [priorité de l’homme sur le capital et gestion collective] et <strong>économie solidaire</strong> [utilité sociale et la réponse à aux besoins des populations touchées par le chômage ou l’exclusion sociale] ), elle regroupe les associations, coopératives, mutuelles et fondations. Leur fonctionnement interne repose sur des modes de <strong>gestion démocratiques et participatifs</strong>.
      </p>
      <p>
        La loi adoptée en juillet 2014 vient consolider cette identité et renforcer ces spécificités (sécurisation du cadre juridique, définition des outils d'aide et de financement, etc) .
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        COPAS accompagne les organisations sociales et solidaires :
        <ul>
          <li>dans la définition de leur <strong>projet associatif ou d’établissement</strong>, </li>
          <li>au sein de <strong>groupes d’analyse de pratiques professionnelles</strong>, pour guider salariés et cadres dans leurs pratiques,</li>
          <li>au changement ou à la définition d’une <strong>nouvelle stratégie</strong> (nouvelle organisation, fusion, aide à la définition de nouvelles prestations), </li>
          <li>à la <strong>participation de toutes les parties prenantes</strong> (salariés, bénévoles, direction, utilisateurs, etc) dans la vie de l'organisation,</li>
          <li>à l’amélioration continue de leurs <strong>bonnes pratiques</strong> (marqueurs de démocratie, de concertation, d’ancrage territorial, d’exemplarité sociale, de diversité).</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.ess} %>
  </div>
</div>
