---
title: COPAS - Lutte contre les discriminations, gestion du fait religieux et principe de laïcité
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        LUTTE CONTRE LES DISCRIMINATIONS, GESTION DU FAIT RELIGIEUX ET PRINCIPE DE LAÏCITÉ
      </h1>
      <p>
        Nous  proposons  des <strong>diagnostics</strong> à l’échelle d’organisations ou de territoires, des <strong>formations sur mesure</strong>. L’organisation de conférences ou de temps forts, séminaires, journées territoriales de réflexion. Nous proposons également la rédaction participative de <strong>guides pratiques</strong> ou de <strong>plans d’actions</strong>.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        <strong>La lutte contre les discriminations </strong>consiste à lutter contre les différentes formes d’inégalités de traitement volontaires ou involontaires dans l’accès aux biens, aux services et  à l’emploi. Notre travail consiste à éclairer les acteurs sur le plan juridique mais aussi  et surtout sur les mécanismes psycho-sociaux et les process organisationnels de prise de décision qui engendrent de la discrimination.
      </p>
      <p>
        <strong>Gestion du fait religieux et principe de laïcité</strong> ne sont pas des problématiques nouvelles que ce soit dans les entreprises, privées ou dans les établissements privés, on retrouve des jurisprudences liées à ces questions qui datent de 1912. Toutefois depuis le début  des années 1990, la visibilité et les revendications religieuses interrogent la société française, en particulier le monde du travail (privé et public). Nous intervenons pour apporter des éclairages aux membres de différentes organisations (entreprises, associations, collectivités), sur ce qui relève et ce qui ne relève pas de la laïcité (sur le plan juridique), du pouvoir de l’employeur et des libertés individuelles des salariés.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.discrimination} %>
  </div>
</div>
