---
title: COPAS - Politique éducative, scolarité, jeunesse
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        POLITIQUE ÉDUCATIVES | SCOLARITÉ | JEUNESSE
      </h1>
      <p>
        Concevoir l'éducation globalement, transversalement, comme une ressource, un levier de développement du territoire et de ses habitants.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Que ce soit à travers l'<strong>évaluation de dispositifs particuliers </strong>(classes passerelles, PRE, volet éducation des contrats de ville...), l'<strong>accompagnement de programmes </strong>ou de <strong>démarches expérimentales</strong> (Groupes d’Aide à l’Insertion/cellules de veille dans les établissements scolaires, accompagnement et formation des enseignants, animateurs socio-culturels, etc. ; appui au montage et au pilotage de plateformes de lutte contre le décrochage...), l'<strong>évaluation ou l'élaboration concertée de politiques éducatives locales</strong> (PEL, PEG, PEDT, etc.), Copas aborde ces projets et missions sous le prisme de l'éducation globale et d'une politique structurante de développement social.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.politiqueeducative} %>
  </div>
</div>
