<!-- banner -->
<div class="banner" id="section-home">
  <div class="banner-content">
    <h1>Conseil en pratiques <div id="slogan2">& analyses sociales</div></h1>
    <div class="banner-introduction">
      <p class="banner-slogan">COPAS vous accompagne des <span>idées aux projets</span>, de la <span>compréhension à l'action</span>, de l'<span>appréciation au changement</span>, du <span>dialogue à la décision</span>.</p>
    </div>
    <button onclick="location.href='/contact.html'" type="button" class="banner-btn">Commençons un nouveau projet ensemble</button>
  </div>

</div>
<!-- end banner -->
