<!-- banner -->
<div class="banner">
  <div class="banner-content">
    <h1>Conseil coopératif <div id="slogan2">& participatif</div></h1>
    <p>Dans un contexte d'essouflement de nos modèles linéaires et de recherche de nouvelles perspectives, accompagner la coopération, c'est être engagé à vos côtés et faciliter les passsages :</p>
    <p><strong>Des idées aux projets</strong> |conseil & accompagnement|</p>
    <p><strong>De la compréhension à l'action</strong> |étude & observation|</p>
    <p><strong>De l'appréciation au changement</strong> |audit & évaluation|</p>
    <p><strong>Du dialogue à la décision </strong>|coopération & participation|</p>
  </div>
</div>
<!-- end banner -->
