<!-- banner -->
<div class="banner" id="section-home">
  <div class="banner-content">
    <h1>Conseil en pratiques <div id="slogan2">& analyses sociales</div></h1>
    <div class="banner-introduction">
 <!--      <p>Dans un contexte d'essouflement de nos modèles linéaires et de recherche de nouvelles perspectives, accompagner la coopération, c'est être engagé à vos côtés et faciliter les passsages :</p> -->
      <p class="banner-slogan">COPAS vous accompagne des idées aux projets [conseil & accompagnement], de la compréhension à l'action [étude & observation], de l'appréciation au changement [audit & évaluation], du dialogue à la décision [coopération & participation].</p>
<!--       <p class="hidden-xs">Crée en 1983, Copas fait vivre la coopération dans ses interventions et également dans son organisation au quotidien (égalité de statut, juste rémunération, une personne = une voix...)</p> -->
    </div>
    <button onclick="location.href='/contact.html'" type="button" class="banner-btn">Commençons un nouveau projet ensemble</button>
  </div>

</div>
<!-- end banner -->
