<!-- banner -->
<div class="banner">
  <div class="banner-content">
    <h1>Conseil coopératif <div id="slogan2">& participatif</div></h1>
    <p>Dans un contexte d'essouflement de nos modèles linéaires et de recherche de nouvelles perspectives, accompagner la coopération, c'est être engagé à vos côtés et faciliter les passsages :</p>
    <p>Des idées aux projets |conseil & accompagnement|</p>
    <p>De la compréhension à l'action |étude & observation|</p>
    <p>De l'appréciation au changement |audit & évaluation|</p>
    <p>Du dialogue à la décision |coopération & participation|</p>
  </div>
</div>
<!-- end banner -->
