<div class="container business" id="section-business">
  <div class="business-content text-center">
    <h2>Évaluation de la qualité des ESSMS</h2>
    <p>COPAS figure sur la liste de la Haute Autorité de Santé en tant qu'organisme habilité à évaluer les établissements et services sociaux et médico-sociaux.</p>
    <%= link_to "+ D'INFORMATIONS", '/metiers/evaluation-de-la-qualite-des-essms.html' %>
  </div>
</div>

