<div class="footer" id="section-contact">
  <div class="container">
    <div class="row">
      <!-- about -->
      <div class="col-xs-12 col-sm-4 text-center">
        <h4>A propos de COPAS</h4>
        <p class="bigger-line-height">COPAS est une SCOP (Société Coopérative et Participative) dont les salariés sont les associés majoritaires. Elle respecte le principe de gouvernance démocratique ("1 personne = 1 voix") et bénéficie d'une répartition des résultats prioritairement affectée à la pérennité des emplois et du projet d'entreprise.</p>
      </div>
      <!-- adress -->
      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Adresse</h4>
        <p><i class="fa fa-home"></i>&nbsp;&nbsp;A Weréso (Espace de co-working) </p>
        <p>104 rue nationale 59800 LILLE</p>
        <br>
        <a href="https://goo.gl/maps/FxsgQC9S5eR2" target="_blank"><i class="fa fa-globe"></i>&nbsp;&nbsp;Nous trouver</a>
      </div>
      <!-- contact -->
      <div class="col-xs-12 col-sm-4 text-center">
        <h4>Contacts</h4>
        <p><a href="mailto:contact@copas.coop"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;contact@copas.coop</a></p>
        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;03 61 50 71 34 </p>
      </div>
      <!-- link -->
      <div class="col-sm-12 text-center">
        <ul class="social-network list-inline">
          <li><a href="https://twitter.com/copasscop" target="_blank" class="social-circle icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/company/scop-copas" target="_blank" class=" social-circle icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/scopcopas/" target="_blank" class=" social-circle icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://www.viadeo.com/fr/company/scop-copas" target="_blank" class=" social-circle icoViadeo" title="Viadeo"><i class="fa fa-viadeo"></i></a></li>
        </ul>
      </div>
      <!-- about, mention légales -->
      <div class="col-sm-12 text-center about">
        <%= link_to "A propos du site", "about.html" %>
      </div>
    </div>
  </div>
</div>
