<% data.formations.each do |formation| %>
  <div class="text__intra">
    <div class="intra__card">
      <div class="clk"><%= formation.title %></div>
    </div>
  </div>
<% end %>
<p><i class="fa-solid fa-location-dot"></i> Localisation : Sur Lille - Wereso</p>
