<% data.intras.each do |intra| %>
  <div class="text__intra">
    <div class="intra__card">
      <div class="intra__title"><%= intra.title %></div>
      <ul>
        <% intra.formation_title.each do |f| %>
          <li><%= f %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<p><i class="fa-solid fa-location-dot"></i> Localisation : Dans vos locaux</p>
