<% data.formations.each do |formation| %>
  <a href="<%= formation.link %>" class="link__formation">
    <div class="formation__card">
      <div class="clk"><%= formation.title %></div>
      <div class="info-formation">
        <p class="duration-formation"><i class="far fa-clock"></i> <%= formation.duration %></p>
        <p class="place-formation"><i class="far fa-user"></i> <%= formation.price %></p>
      </div>
      <!--   <div class="rating__formation"><i class="far fa-star"></i>79% de satisfaction (25 avis)</div> -->
    </div>
  </a>
<% end %>
<p><i class="fa-solid fa-location-dot"></i> Localisation : Sur Lille</p>
