<!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span ><i class="fas fa-bars"></i></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand"  href="#section-home"><img src="images/navbar/logo_site.png" alt="COPAS" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#section-actualites">ACTUALITÉS</a></li>
                        <li><a href="#section-grounds">TERRAINS</a></li>
                        <li><a href="#section-business">MÉTIERS</a></li>
                        <li><a href="/metiers/formation.html">FORMATIONS</a></li>
                        <li class="active"><a href="#section-about">ÉQUIPE</a></li>
                        <li><a href="#section-contact">CONTACT</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->
