<!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span >Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand"  href="/"><img src="http://res.cloudinary.com/copas/image/upload/v1505391873/logo_site_xfjgws.png" alt="COPAS" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <!-- Terrains -->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TERRAINS <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="../terrains/action-sociale-medico-sociale.html">Action sociale médico-social</a></li>
                                <li><a href="../terrains/dev-social-politique-ville.html">Développement social & politique de la ville</a></li>
                                <li><a href="../terrains/demarches-participatives.html">Démarches participatives</a></li>
                                <li><a href="../terrains/lutte-discrimination-laicite.html">Lutte contre les discriminations</a></li>
                                <li><a href="../terrains/politique-educative.html">Politiques éducatives</a></li>
                                <li><a href="#">ESS</a></li>
                              </ul>
                        </li>
                        <!-- Métiers -->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MÉTIERS <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="../metiers/accompagnement.html">Accompagnement</a></li>
                                <li><a href="../metiers/animation-interventions-publiques.html">Animation & interventions publiques</a></li>
                                <li><a href="../metiers/enquete-etude.html">Enquête & études</a></li>
                                <li><a href="../metiers/evaluation.html">Évaluation</a></li>
                                <li><a href="../metiers/formation.html">Formations</a></li>
                                <li><a href="../metiers/developpement-numerique.html">Développement numérique</a></li>
                              </ul>
                        </li>
                        <li><a href="http://scop-copas.fr/ " target="_blank">ACTUALITÉ</a></li>
                        <!-- Equipe -->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ÉQUIPE<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="../team/dalila-bahmed.html">Dalila BAHMED</a></li>
                                <li><a href="../team/said-bechrouri.html">Saïd BECHROURI</a></li>
                                <li><a href="../team/aubry-prieur.html">Aubry PRIEUR</a></li>
                                <li><a href="../team/gilles-rivet.html">Gilles RIVET</a></li>
                                <li><a href="../team/samuel-thyrion.html">Samuel THYRION</a></li>
                              </ul>
                        </li>
                        <!-- Contact -->
                        <li><a href="#section-contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
