<% name.each do |card| %>
  <div class="ref_essms_card">
    <p class="ref_essms_card_client"><%= card.client %></p>
    <p class="ref_essms_card_description"><%= card.description %></p>
    <p class="ref_essms_card_year"><%= card.year %></p>
  </div>
<% end %>




