---
title: COPAS - Accompagnement
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ACCOMPAGNEMENT
      </h1>
      <p>
        L’accompagnement est l’une des modalités d’intervention que COPAS a toujours privilégiée, comme l’une des caractéristiques des métiers du conseil. Que ce soit aux côtés de <strong>décideurs</strong> ou de <strong>praticiens</strong>, que ce soit dans le cadre d’<strong>appuis méthodologiques</strong>, de la conduite d’<strong>expérimentation</strong> ou de la gestion de <strong>situations de crise</strong>, les consultants de COPAS se situent dans une posture de <strong>co-construction</strong>, privilégiant la pratique maïeutique.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Dans une telle approche, l’expertise de la prestation de conseil réside dans la capacité à <strong>favoriser l’implication </strong>,des différentes catégories d’acteurs à <strong>faciliter l’émergence </strong> leur savoirs et savoir-faire et <strong>formaliser </strong>leur expression collective.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.accompagnement} %>
  </div>
</div>
