---
title: COPAS - Animation et interventions publiques
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ANIMATION ET INTERVENTIONS PUBLIQUES
      </h1>
      <p>
        Si la rédaction de rapports, de recommandations, de préconisations, de diagnostics ou de monographies… demeure un exercice central et exigeant, ces derniers ne sont jamais à l’abri de n’être lus et appropriés que par un nombre trop restreint d’acteurs pour <strong>faire émerger le changement</strong>, pour <strong>mieux comprendre et agir</strong>. Les séminaires, journées d’étude, conférences, colloques sont autant d’outils et de formes propices à la <strong>mise en débat</strong> et à la <strong>capitalisation </strong>ou à la <strong>co-construction</strong>. Pour autant le risque d’organiser des grands messes ou des ateliers faussement participatifs n’est jamais loin si la forme, les modes d’animation, les supports utilisés ne sont pas travaillés et adaptés à chaque contexte.
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        <strong>Faire participer ne se décrète pas</strong>: Pour tout animateur ou intervenant d’un dispositif participatif il s’agit d’être à l’écoute (l’écoute active est en ce sens une compétence) et d’être capable d’emblée de mettre les personnes dans une position active
      </p>

      <p>
        <strong>Disposer et choisir les « bons » outils d’animation</strong>: Les temps collectifs de travail ne doivent pas se réduire à des séquences de « dialogues successifs » entre l’animateur et les participants, d’où l’intérêt de proposer des manières de travailler qui facilitent l’expression et la mobilisation de tous.
      </p>

      <p>
        <strong>Des outils d’animation qui ne doivent pas être des «artifices»</strong>: Du photolangage, au méta plan en passant par les tables contributives, Copas dispose et maîtrise l’usage d’une grande diversité d’outils et de méthodes. Ces derniers sont systématiquement choisis au regard de deux critères principaux (l’objectif sous tendu par l’outil et le sens et l’utilité de chaque exercice proposé)
      </p>
      <p class="text-left">Par ailleurs, nous sommes régulièrement amenés à intervenir de manière ponctuelle lors de <strong>colloques, de conférences</strong> pour faire état de nos travaux, réflexions et/ou participer au débat public de manière plus générale:
        <ul>
          <li>Journée nationale de la «réussite éducative»</li>
          <li>Conseil régional du Nord - Pas de Calais sur le thème des « relations entre associations et pouvoirs publics»</li>
          <li>Séminaire national eurocities : Inclusion active et cohésion sociale : Quelle contribution possible de l’innovation sociale à un projet urbain durable ? Animation d’un atelier sur le renforcement des compétences clés</li>
          <li>Conférence publique « le développement social au regard des droits culturels », réseau culture 21</li>
          <li>Conférence débat pour l’association expression : « Fraternité : Comment cultiver cette valeur au quotidien ? </li>
          <li>Intervention sur le thème de « la participation citoyenne, ses freins, ses leviers » ; journée Soyons solidaires, forum des allocataires du RSA du Douaisis</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.animation} %>
  </div>
</div>
