---
title: COPAS - Enquête et étude
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ENQUÊTE ET ÉTUDE
      </h1>
      <p>
        Nos techniques et modes de recueil de données sont, d’emblée, inscrites dans des référentiels (d’évaluation, de diagnostic, d’étude…) que nous réalisons. Elles sont nécessairement choisies selon un double critère : <strong>Adaptées aux indicateurs définis et réalisables</strong>.
        Elles peuvent prendre la forme :
        <ul>
          <li>d’études documentaires ; d’études statistiques</li>
          <li>de questionnaires (qui peuvent être « tutorés » pour formation d’équipes professionnelles et/ou bénéficiaires/bénévoles)</li>
          <li>d’entretiens semi directifs (individuels ou collectifs) ou d’explicitation</li>
          <li>d’observations (participantes ou non)</li>
          <li>focus groups</li>
          <li>de visites de terrain ou de visites à domiciles</li>
        </ul>
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Les outils et méthodes utilisés sont une <strong>aide à une démarche participative</strong>, annonciatrice et illustratrice d’une volonté commune et partagée. C’est <strong>comprendre</strong>, dresser un <strong>état des lieux partagé</strong> et <strong>problématiser des enjeux et des perspectives de changement</strong>. Et <strong>dire ce que l’on vise</strong> : Positionner les usagers et les professionnels comme défricheurs et contributeurs.
        Dans nos différentes missions, nous sommes vigilants à :
        <ul>
          <li>choisir des indicateurs divers pour enrichir la gamme d’informations déjà disponibles permettant de répondre aux questions évaluatives</li>
          <li>l’existence, la fiabilité et l’exploitation des informations à collecter</li>
          <li>travailler en concertation avec les services et observatoires en place</li>
          <li>exploiter quand cela est pertinent des indicateurs « innovants ou peu exploités</li>
          <li>cartographier quand cela est pertinent les différents indicateurs de contexte ou d’offre, permettant de visualiser des écarts/disparités ou mesurer des évolutions/tendances</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.enquete} %>
  </div>
</div>
