---
title: COPAS - Évaluation de la qualité des ESSMS
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ÉVALUATION de la qualité des ESSMS
      </h1>
      <p>L’évaluation de la qualité des ESSMS s’inscrit dans la réforme de l’évaluation voulue par la Haute Autorité de Santé.</p>
      <p>La loi du 24 juillet 2019 relative à l’organisation et à la transformation du système de santé (article 75), vient modifier l’article L. 312-8 du Code de l’action sociale et des familles (CASF) en définissant un cadre évaluatif commun aux établissements et services, défini par la Haute Autorité de santé.</p>
      <p>Précisant ainsi la loi 2002-2 du 2 janvier 2002, elle spécifie la procédure d’évaluation de la qualité des prestations dans le Référentiel d’évaluation de la qualité́ des établissements et services sociaux et médico-sociaux élaboré par la CSMS de la Haute Autorité de Santé, du 10 mars 2022.</p>
      <p>Les évaluateurs de COPAS maîtrisent les 4 composantes de la mission d’évaluation à savoir :</p>
      <ul>
        <li>le cadre de référence de l'ESSMS à évaluer</li>
        <li>la réalité de l'activité de l'ESSMS à évaluer (revue documentaire)</li>
        <li>la méthode "mission d'évaluation" (référentiel sur SYNAE, grilles, déroulement, ...)</li>
        <li>les obligations de la norme d'accréditation COFRAC 17020</li>
      </ul>

      <h2>
        Nos engagements et nos +
      </h2>
      <ul>
        <li>Évaluer, c'est porter un jugement et expliquer la réalité observée, ce qui implique l'évaluateur dans la lecture qu'il fait de la réalité.</li>
        <li>Évaluer, c'est aussi tirer des enseignements des analyses effectuées et formuler d’éventuelles observations.</li>
        <li>Évaluer, c’est enfin le moyen de valoriser les bonnes pratiques. L’évaluation ne peut pas être qu’un processus d’identification de dysfonctionnements. Elle doit aussi permettre de pointer les bonnes pratiques et ce qui est déjà constitutif d’une qualité d’intervention.</li>
      </ul>
      <p>Le profil des intervenants : les évaluateurs, rompus à l’exercice d’évaluation externe des ESSMS, sont expérimentés dans le champ des politiques sociales et politiques publiques. Leurs différents champs d’expertise et leur engagement en tant qu’acteur social, et consultants senior, contribuent à donner à l’évaluation une dimension pédagogique.</p>
      <p>Les évaluateurs de COPAS, forts des 120 évaluations externes menées ou pilotées sur des ESSMS entre 2010 et 2022 (COPAS était préalablement habilité par l’ANSEM ANESM pour réaliser les évaluations externes), s’appuient sur leurs connaissances des attendus de l’évaluation pour appréhender la méthode d’entretien à partir des parcours des personnes, valoriser les points forts et appréhender les axes d’amélioration dans une meilleure compréhension des dynamiques professionnelles, et plus respectueuse des personnes accompagnées. Leur engagement rend l’évaluation dynamique et compréhensible à tous.</p>
      <p>Afin de faciliter l’intervention dans la mission d’évaluation, les évaluateurs sollicitent les documents de référence de l’ESSMS avant le démarrage de la mission d’évaluation. Cela leur permet de prendre connaissance des informations personnalisées et d’ajuster les questions évaluatives selon les thématiques à évaluer. </p>
      <p>Enfin ils sont habitués à travailler les uns avec les autres (en tant qu’associé.e.s dans la SCOP), et « senior » dans leur appréhension des organisations. </p>
      <h2>Nos règles d'intervention</h2>
      <ul>
        <li>Neutralité, impartialité et indépendance</li>
        <li>Bienveillance, respect, écoute</li>
        <li>Anonymat et confidentialité</li>
        <li>En cas d'incident...des recours</li>
      </ul>
    </div>
  </div>
  <div class="sliderContainer">
    <div class="logoSlider">
    <%= partial "layouts/ref-essms-card", :locals => { name: data.refcards.evaluation_qualite_essms} %>
    </div>
  </div>
</div>
