---
title: COPAS - Évaluation
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        ÉVALUATION
      </h1>
      <p>
        COPAS mène depuis sa création des missions d’évaluation tant au niveau national que local dans différents domaines de l’action publique : <strong>social et médico-social, éducation, politique de la ville, mobilité internationale, logement, renouvellement urbain, etc</strong>. Le cabinet a développé et a pu adapter ses méthodes et protocoles :`
        <ul>
          <p>aux <strong>exigences des différents commanditaires</strong> : randomisation, groupes test et témoin, etc.</li>
          <li>aux <strong>particularités des terrains d’étude </strong>(terrains d’accueil des gens du voyage, établissement scolaire, quartier, établissement médico-social, squat, etc.)</li>
          <li>aux <strong>spécificités des publics</strong> à rencontrer en mobilisant des techniques d’enquête et en menant des investigations cohérentes : observation, entretiens d’explicitation, focus group, visites à domicile, évocations spontanées, photolangage, etc.</li>
        </ul>
      </p>
      <h2>
        Notre approche
      </h2>
      <p>
        Évaluer, c'est <strong>porter un jugement</strong> et <strong>expliquer la réalité observée</strong>, ce qui implique l'évaluateur dans la lecture qu'il fait de la réalité. Pour s’assurer du recul nécessaire, l’évaluateur s’attache à mesurer les écarts entre un <strong>référentiel</strong> et une réalité constatée.
      </p>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.refcards.evaluation} %>
  </div>
</div>
