---
title: COPAS - Formations
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        NOS FORMATIONS
      </h1>
<!--       <p>
        A retravailler (Marianne)
      </p> -->
      <h2>
        Notre offre
      </h2>
      <h3>EN INTER</h3>
      <p>Vous voulez vous inscrire à notre formation.</p>
      <%= partial "layouts/formations-inter", :locals => { name: data.formations} %>
      <h3>EN INTRA</h3>
      <p>Vous voulez mettre en oeuvre une formation au sein de votre organisation.</p>
      <%= partial "layouts/formations-intra", :locals => { name: data.intras} %>
      <h3>Informations complémentaires</h3>
      <ul>
        <li>Nos formations sont éligibles à une prise en charge par votre OPCO. Référencement Qualiopi en cours sur mai 2022</li>
        <li>Nous contacter : contact@copas.coop / 03.61.50.71.34</li>
        <li><a href="./formations/informations.html">Documents complémentaires</a></li>
      </ul>
    </div>
  </div>
</div>

<script>
$('.clk').click(function(){
    $(this).find('i').toggleClass('fa-chevron-right fa-chevron-down')
});
</script>

