.articles {
    text-align: center;
    background-color: white;
  p {
    font-size: 16px;
    font-weight: lighter;
    color: #777777;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 18px;
  }
  .content p {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.card-description {
  color: white;
  margin-bottom: 15px;

}

.btn {
  border-radius: 10px;
  background-color: #ffcf00;
  color: white;
  font-size: 10px;
}
