.articles {
  // background: white;
    text-align: center;
  p {
    font-size: 16px;
    font-weight: lighter;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 18px;
  }
  .content p {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.card-description {
  color: white;
}

.btn {
  border-radius: 10px;
  background-color: #ffcf00;
}
