.articles {
    text-align: center;
    // background-color: white;
    padding: 50px 0 60px 0;
  p {
    font-size: 16px;
    font-weight: lighter;
    color: white;
  }
  .article-description {
    font-style: italic;
    font-size: 14px;
  }
  h2 {
    font-size: 30px;
    font-style: bold;
  }
  h3 {
    font-size: 16px;
  }
  .content p {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.card-description {
  color: white;
  margin-bottom: 15px;

}

.btn {
  border-radius: 10px;
  background-color: #ffcf00;
  color: white;
  font-size: 10px;
}

.card {
  background-color: #FFD000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px 0;
}

.card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.article-content {
  h2 {
    font-weight: bold;
  }
  p {
    color: #777777
  }
}
