.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover ;
  background: #FFCF00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
  p {
    font-size: 0.8em;
    font-weight: 100;
    color: #808080;
    margin-bottom: 20px;
    padding: 0 5%;
    line-height: 25.6px;
  }
}

#slogan2 {
  color: #808080;
}

@media (max-width: 576px) {
      .banner {
        padding-top: 180px;
        h1 {
          font-size: 2em;
        }
      }
    }


@media (max-width: 414px) {
      .banner {
        h1 {
          vertical-align: middle;
          font-size: 3em;
          padding-top: 350px;

        }
          .banner-introduction {
              visibility: hidden;
          }
      }
    }

