.banner {
  // color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover ;
  background-image: linear-gradient(176deg, #FFF 80%, #F4F4F4 calc(70% + 2px));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20%;
  h1 {
    font-size: 3em;
    font-weight: bold;
  }
  p {
    font-size: 0.8em;
    font-weight: 100;
    color: #808080;
    margin-bottom: 20px;
    padding: 0 5%;
    line-height: 25.6px;
  }
}

span {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 80%, rgba(254, 207, 2, 80) 70%);
  background-position: -0% 0;
  background-size: 200% auto;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
span:hover {
  background-position: -99.99% 0;
}

.banner-introduction {
  margin: 35px 0;
}

.banner-slogan {
  font-size: 1.2em !important;
  line-height: 2 !important;
}

.banner-btn {
  border-radius: 10px;
  background-color: #FECF02;
  border: none;
  padding: 15px 10px;
  color: #FFF;
}

@media (max-width: 576px) {
      .banner {
        padding-top: 180px;
        h1 {
          font-size: 2em;
        }
      }
    }


@media (max-width: 414px) {
      .banner {
        h1 {
          vertical-align: middle;
          font-size: 3em;
          padding-top: 350px;

        }
          .banner-introduction {
              visibility: hidden;
          }
      }
    }

