.footer {
  background-color: #000000;
  color: white;
  font-size: 13px;
  padding: 50px 0 60px 0;
  p {
    font-weight: lighter;
  }
  a {
    text-decoration: none;
    color: #ffcf00;
  }
  h4 {
    font-size: 13px;
    font-weight: bold;
  }
  .bigger-line-height {
    line-height: 1.8;
  }
}

.icoLinkedin, .icoTwitter, .icoFacebook  {
  font-size: 25px;
  color: white !important;
  background: #ffcf00;
  border-radius: 50%;
  padding: 10px 10px;
}

.icoViadeo,{
  font-size: 25px;
  color: white !important;
  background: #ffcf00;
  border-radius: 50%;
  padding: 10px 13px;
}

.icoLinkedin:hover {
  background: #2a6496;
}

.icoTwitter:hover {
  background: #33ccff;
}

.icoFacebook:hover {
  background: #3B5998;
}

.icoViadeo:hover {
  background: #EE7355;
}

.fa-twitter, .fa-linkedin, .fa-viadeo {
  padding: 10px 5px;
}

.fa-facebook {
  padding: 10px 10px;
}

.fa-twitter:hover, .fa-linkedin:hover, .fa-facebook:hover, .fa-viadeo:hover {
    transition: 0.5s;
    transform: rotateX(360deg);
}

.about {
  margin-top: 15px;
  font-weight: lighter;
}


