/*.plaquette {
  background: grey;
}*/

.link_doc_formations{
  color: #777777 !important;
  font-size: 18px !important;
}

.link_doc_formations:hover{
  color: #000000 !important;
}

.read_more_ul {
  list-style-type: none;
}

.docs_formations_container {
  margin-bottom: 50px;
}
