.team {
  padding: 50px 0 60px 0;
  background-color: white;
  p {
    font-size: 16px;
    color: #777777;
    font-weight: lighter;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
  }
  h3 {
    font-size: 18px;
  }
  .content p {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.wrapper {
  background-color: white;
}

.content p:last-child {
  padding-bottom: 20px;
}

.team-card h3 {
  color: black;
  font-weight: bold;
}

.team-card img:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}






