.team {
  text-align: center;
  p {
    font-size: 16px;
    color: #777777;
    font-weight: lighter;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 18px;
  }
  .content p {
    margin-right: 20%;
    margin-left: 20%;
  }
}

.wrapper {
  background-color: white;
}





