---
title: COPAS - Formations Informations supplémentaires
---

<%= partial "layouts/navbar2" %>

<div class="ground">
  <div class="container">
    <div class="ground-content docs_formations_container">
      <h1>Informations supplémentaires</h1>
      <ul class="read_more_ul">
        <li>
          <a href="https://res.cloudinary.com/copas/image/upload/v1652809590/documents-formations/COPAS_Conditions_Accueil_Bureaux_Wereso.pdf" target="_blank" class="link_doc_formations"> <i class="fa fa-download"></i> Les conditions d'accueil</a>
        </li>
        <li>
          <a href="https://res.cloudinary.com/copas/image/upload/v1652809595/documents-formations/COPAS_Conditions_Generales_de_Vente_Formation.pdf" target="_blank" class="link_doc_formations"> <i class="fa fa-download"></i> Les conditions générales de vente</a>
        </li>
        <li>
          <a href="https://res.cloudinary.com/copas/image/upload/v1652809595/documents-formations/COPAS_Re%CC%81glement_interieur_Formation.pdf" target="_blank" class="link_doc_formations"> <i class="fa fa-download"></i> Le règlement intérieur</a>
        </li>
      </ul>
    </div>
  </div>
</div>





