---
title: COPAS - Participation citoyenne et budget participatif
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        Sensibilisation à la participation citoyenne et au budget participatif
      </h1>
      <p>
        L’ambition d’<strong>impliquer les habitants</strong> dans la mise en œuvre de politiques publiques est déjà ancienne et retrouve dans l’actualité récente une certaine « vitalité ». Les dispositifs institutionnels de <strong>démocratie participative</strong> tendent aujourd’hui à changer d’échelle en passant de la « coopération symbolique » au « pouvoir effectif des citoyens ». Pour autant encore, le changement de culture politique, d’habitudes partenariales et de pratiques professionnelles que cela implique est parfois peu anticipé. La mise en place récente et le développement des <strong>budgets participatifs</strong> en France est un signe favorable et prometteur d’une montée en puissance de la participation citoyenne dans son sens le plus abouti (« prendre part » à la vie de la cité en disposant d’un pouvoir effectif). La démarche de formation que Copas vous propose, vise à transmettre des savoirs et une culture de la participation ; de doter les équipes de compétences spécifiques à la mise en place d’un budget participatif tant en termes de pilotage, de coordination que dans la gestion et l’administration d’outils participatifs spécifiques ; de se projeter collectivement et concrètement dans la réalisation et les facteurs de réussite du budget participatif.
      </p>
      <h2>
        Programme de formation
      </h2>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Objectifs</div>
        </summary>
        <section>
          Identifier les composantes principales de la participation citoyenne - Aborder la question des effets concrets - Appréhender concrètement la mise en place d'un budget participatif - Identifier les différentes étapes d'un budget participatif - Prendre connaissance de différentes expériences - Définir un mode d’organisation collectif de pilotage et de coordination de projet - Prendre connaissance des outils - Définir les facteurs de succès et risques
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Public cible</div>
        </summary>
        <section>
          Chargés de mission (démocratie participative, communication, SI…), DGS, toute personne en charge d’un projet de démocratie participative
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Pré-requis</div>
        </summary>
        <section>
          Aucune connaissance particulière
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Mode de validation des acquis</div>
        </summary>
        <section>
          Un bilan et une évaluation de la formation seront effectués avec les stagiaires à la fin de la formation
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Moyens pédagogiques et techniques</div>
        </summary>
        <section>
          Apports pédagogiques - Études de cas concrets apportés - Mises en situation - Supports de formation - Outils (canevas, grilles, etc.) - Outils numériques - Les différents outils seront remis sur Clef USB
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Mots clés</div>
        </summary>
        <section>
          Démarche participative – budget participatif – plateforme numérique
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Télécharger la plaquette de formation</div>
        </summary>
        <section>
          <a href="https://res.cloudinary.com/copas/image/upload/v1623155002/Plaquettes/Formation_Budget_Participatif.pdf" target="_blank" class="plaquette"><i class="fa fa-download"></i> Lien de téléchargement de la plaquette</a>
        </section>
      </details>
    </div>
  </div>
</div>

<script>
$('.clk').click(function(){
    $(this).find('i').toggleClass('fa-chevron-right fa-chevron-down')
});
</script>




