---
layout: "custom"
title: 404 - La page n'existe pass
---

<div>
    <h1>La page n'existe pas <small>Erreur 404</small></h1>
    <p class="lead">The requested resource could not be found but may be available again in the future.</p>
    <%= image_tag '404.png' %>
    <% link_to '/copas' %>Accueil<% end %>
</div>
