---
layout: "custom"
title: 404 - La page n'existe pas
---
<style type="text/css">
  img{width: 50%;}
</style>

<div>
    <h1>La page n'existe pas - Erreur 404</h1>
    <p>Vous pouvez retourner à l'accueil 3</p>
    <%= image_tag 'https://res.cloudinary.com/copas/image/upload/v1538468730/logo3.0_xngygt.png' %>
    <%= link_to 'Accueil', '/copas' %>
</div>
