---
layout: "custom"
title: 404 - La page n'existe pass
---

<div>
    <h1>La page n'existe pas <small>Erreur 404</small></h1>
    <p class="lead">The requested resource could not be found but may be available again in the future.</p>
    <img src="/images/404.png" alt="404">
    <button class="button"><a href="/copas">Accueil</a></button>
</div>


