---
layout: "custom"
title: 404 - La page n'existe pas
---

<div>
    <h1>La page n'existe pas - Erreur 404</h1>
    <p>Vous pouvez retourner à l'accueil</p>
    <%= image_tag '404.png' %>
    <%= link_to 'Accueil', '/copas' %>
</div>
