---
title: COPAS - Nous contacter
---

<%= partial "layouts/navbar2" %>

<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>Nous contacter</h1>
      <p><i class="fa fa-phone"></i>&nbsp;&nbsp;07 83 32 27 13 </p>
      <div id="formkeep-embed" data-formkeep-url="https://formkeep.com/p/81d6c649d25b69ff9523b9e533b19733?embedded=1"></div>

      <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
      <script type="text/javascript" src="https://formkeep-production-herokuapp-com.global.ssl.fastly.net/formkeep-embed.js"></script>

      <!-- Get notified when the form is submitted, add your own code below: -->
      <script>
      const formkeepEmbed = document.querySelector('#formkeep-embed')

      formkeepEmbed.addEventListener('formkeep-embed:submitting', _event => {
        console.log('Submitting form...')
      })

      formkeepEmbed.addEventListener('formkeep-embed:submitted', _event => {
        console.log('Submitted form...')
      })
      </script>
    </div>
  </div>
</div>





