---
title: COPAS - Coopérative de conseil
---

<%= partial "layouts/banner" %>

<div class="section">
  <div>
    <h2>NOTRE ÉQUIPE</h2>
    <p>Le conseil coopératif repose sur une équipe polyvalente de consultants qui ont en commun d'être associés et porteurs de l'aventure de la SCOP</p>
    <p>Nous sommes implantés en métropole lilloise et en Ile de France et nous intervenons sur tout le territoire et à l'étranger.</p>
  </div>
  <div class="row">
    <%= partial "layouts/team" %>
  </div>
  </div>
