---
title: COPAS - Mentions légales
---

<%= partial "layouts/navbar2" %>

<div class="ground text-justify">
  <div class="container">
    <div class="ground-content docs_formations_container">
      <h1>Mentions légales</h1>
      <p>COPAS - Conseil en pratiques et analyses sociales</p>
      <p>229 rue solférino – 59000 LILLE - 07.83.32.27.13  – contact@copas.coop </p>
      <p>Située à Lille (59000), 104 RUE NATIONALE, la société COPAS est active depuis 1984. Cette société coopérative et participative (SCOP SARL) a été créée le 1er janvier 1984, immatriculée à Lille, sous le numéro de RCS LilleMétropole 329 070 809. Cette entreprise est spécialisée dans le secteur de l’accompagnement auprès des collectivités, administrations et associations.</p>
      <p>N° TVA : FR80329070809</p>
      <p>Prestataire d’hébergement :</p>
      <ul>
        <li>GITHUB INC</li>
        <li>80081315600018</li>
        <li>Siège social : 88 COLIN P. KELLY JR ST CA 94107 99404 SAN FRANCISCO</li>
      </ul>
      <p>Ce site est destiné à votre information. Vous disposez d’un droit d’utilisation, à des fins exclusivement personnelles et non commerciales, des informations qui y sont contenues. Vous n’êtes donc pas autorisé à modifier, distribuer, transmettre, diffuser, représenter, reproduire, publier, transférer ou vendre tout ou partie de ce site, tout document téléchargé à partir de ce site ou toutes listes de liens obtenues à partir de ce site, ni à créer des œuvres dérivées de ces documents ou listes de liens, sauf accord particulier et préalable conclu avec l’éditeur et/ou l’auteur.</p>
      <h2>Protection de la vie privée et confidentialité</h2>
      <p>Les cas de collecte d’informations nominatives sont limitées à la procédure d’abonnement (listes de diffusion…) et à celle vous permettant de lui transmettre une question, une demande, une remarque… Sauf opposition expresse de votre part, les données nominatives vous concernant sont intégrées dans son fichier clients ; elles peuvent également être intégrées dans des bases de données qu’il peut mettre à la disposition de tiers, notamment sur son site web. Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données vous concernant. Pour exercer ce droit, il vous suffit de contacter l’éditeur par mail à contact@copas.coop</p>
      <h2>Réserve juridique</h2>
      <p>L’éditeur s’efforce de vous offrir dans ce site une information fiable et actualisée. Mais, malgré tout le soin qu’il apporte, des erreurs ou des omissions peuvent survenir. Il s’efforce de corriger les erreurs qui lui seront signalées. L’information contenue dans ce site est destinée à vous apporter des indications générales sur les sujets traités ;Ne constitue pas un conseil personnalisé, de quelque nature qu’il soit (organisationnel, marketing, juridique, fiscal, etc.), lequel conseil personnalisé suppose l’étude et l’analyse de cas particuliers par un professionnel de la spécialité ; Ne doit pas être utilisée sans les conseils préalables des experts concernés. L’éditeur ne peut en aucun cas être tenu responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.</p>
      <h2>Absence de garantie</h2>
      <p>L’éditeur ne garantit pas que ce site soit exempt de défaut, d’erreur ou d’omission et qu’il corresponde exactement à l’usage auquel l’utilisateur le destine. Il ne peut en aucun cas être tenu responsable des éventuels défauts, erreurs ou omissions existant dans ce site, et des éventuelles pertes financières ou autres dommages pouvant en résulter.</p>
      <h2>Liens hypertextes</h2>
      <p>L’éditeur est totalement libre de référencer, de ne pas référencer et de supprimer à tout moment le référencement de tel ou tel site. En référençant des sites, il ne cherche pas à être exhaustifs ; par conséquent, ses listes de liens, dans quelque rubrique qu’elles soient, ne prétendent en aucun cas à l’exhaustivité. Ce site comporte des liens hypertextes vers des sites dont l’éditeur a constaté l’existence en s’y connectant au moment où ils ont été répertoriés et sur lesquels il a effectué une vérification rapide. Ces liens hypertextes ont été classifiés selon ses rubriques, en fonction de leur contenu, et, quand elles existent, des indications fournies par les éditeurs. L’éditeur ne contrôle pas les site qu’il référence, dont la responsabilité relève uniquement de leurs éditeurs. Il ne garantit absolument pas le contenu de ces sites, et notamment le caractère véridique des informations qu’ils comportent. En outre, il ne contrôle pas la présence éventuelle de virus informatiques dans les sites référencés ; par conséquent, il ne peut en aucun cas garantir que ces sites en soient exempts. Il appartient à chaque internaute d’exercer son libre arbitre en décidant d’accéder à tel ou tel site. Les risques liés à l’utilisation de ces sites incombent donc pleinement à l’utilisateur. Le réseau internet étant constamment en évolution, il est possible qu’un site que l’éditeur a référencé ait été modifié dans son contenu, qu’il ait changé d’adresse ou même disparu. L’éditeur s’assure régulièrement que les liens sont toujours actifs, mais il n’effectue aucun autre contrôle. Tout site souhaitant interdire ou limiter son référencement hypertexte peut demander à l’éditeur de supprimer tout ou partie des liens qu’il a créé vers lui en écrivant par mail à contact@copas.coop</p>
      <h2>Environnement technique</h2>
      <p>Ce site est optimisé pour un affichage responsive. Il est prévu pour le navigateur Mozilla Firefox et compatible avec Internet Explorer. Les fichiers PDF présents sur le site nécessitent l’utilisation du logiciel Adobe Acrobat Reader © disponible gratuitement sur le site suivant : http://www.adobe.com/</p>
      <h2>Protection des contenus</h2>
      <p>Tous les textes, photos, vidéos, données, logos, marques et autres éléments reproduits sur ce site sont réservés et protégés par le droit d’auteur et/ou toute autre disposition en vigueur qui seraient applicables en matière de propriété intellectuelle.Toute utilisation est constitutive de contrefaçon et au droit d’auteur et/ou à toutes autres dispositions en vigueur qui seraient applicables en matière de propriété intellectuelle. Il est donc interdit de reproduire, représenter, diffuser, commercialiser, modifier, concéder tout ou partie de l’un quelconque des éléments reproduits sur le site et tout ou partie du site en général, sans l’autorisation préalable et expresse de l’éditeur.</p>
    </div>
  </div>
</div>
